body{
  margin: 0px !important;
  padding: 0px !important;
  font-family: 'Space Grotesk', sans-serif !important;
}

.ce-chat-title-container{
  padding: 11px 0px !important;
  background-color: #135df1 !important;
  color: white !important;
}

.ce-chats-container, 
.ce-settings{
  background-color: #0f1624 !important;
  border-radius: 0px !important;
  padding: 0px !important;
}

.ce-chat-card.ce-active-chat-card {
  border-radius: 0px !important;
  background-color: #253350 !important;
  color: white;
}

.ce-input.ce-text-input{
  background-color: rgb(205, 213, 255);
}

.ce-chat-card.false{
  border-radius: 0px !important;
  background-color: #343d53 !important;
  color: white;
}

.ce-chat-form-container, .ce-chat-title{
  background-color: #135df1 !important;
  color: white;
}

.ce-chat-feed-container{
  background: #283142 !important;
}

.ce-message-date-text,
.ce-their-message-sender{
  color: white !important;
}

.ce-message-bubble-row.ce-my-message-bubble-row{
  padding: 0 10px !important;
}

.ce-message-bubble.ce-my-message-bubble{
  border-radius: 15px !important;
}

.ce-message-timestamp.ce-my-message-timestamp{
  color: rgb(184, 184, 185) !important;
}

.ce-settings-container{
  padding: 5px !important;
  width: 97% !important;
}

.ce-section-title-container.ce-person-title-container, 
.ce-section-title-container.ce-photo-title-container,
#ce-options-drop-down{
  border-radius: 0px !important;
  background-color: #212a3d !important;
  color: white;
}

.ce-chat-title-form{
  margin-bottom: 10px !important;
}

.ce-person-container{
  color: white !important;
}

.ce-primary-button.ce-danger-button{
  border: none !important;
  color: #0f1624 !important;
}

.anticon.anticon-menu,
.anticon.anticon-setting{
  margin: -15px 0 0 !important;
}